@import '~antd/dist/antd.css';

#components-layout-demo-top-side .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

.title {
  float: left;
  width: 120px;
  height: 2.2em;
  margin: 16px 24px 16px 0;
  text-align: center;
  line-height: 2.2em;
  color:rgb(174, 211, 228);
}

.site-card-wrapper {
  padding: 30px;
  background: #ececec;
}

.tab-container-center {
  text-align: center;
  padding-top: 10em;
  word-break: break-all;
}

.img-container{
  text-align: center;
  margin-top: 1em;
}

.encrypt_tint {
  width: 100%;
  height: 2em;
  line-height: 2em;
  text-align: center;
}

.encrypt_btn_container {
  text-align: center;
}

.encrypt_textarea {
  margin-top: 5px;
  margin-bottom: 5px;
}
